#main {
    float: left;
    width: 750px;
}

#sideBar {
    width: 300px;
    margin-left: 800px;
    padding: 10px;
    border: solid 1px #ccc;
    background-color: #eee;
}

    #sideBar h3 {
        margin-top: 0px;
    }

    #sideBar label {
        display: block;
        padding: 2px;
        margin: 2px;
    }

    #sideBar .tag {
        padding: 5px;
        margin: 5px;
        border: solid 1px #fff;
        background-color: #a3f1cc;
        border-radius: 5px;
    }

    #sideBar select {
        width: 100%;
        padding: 5px;
        font-size: 16px;
        margin: 5px;
    }

    #sideBar .ddl {
        height: 100px;
        overflow: auto;
        border: solid .5px #ccc;
    }

        #sideBar .ddl ul {
            padding: 0px;
            margin: 0px;
        }

            #sideBar .ddl ul li {
                list-style: none;
                border-bottom: solid 1px #ccc;
                padding: 3px;
                margin: 0px;
            }

                #sideBar .ddl ul li:hover {
                    background-color: #fff;
                }

#seatList {
    border-radius: 5px;
    padding: 10px;
}

    #seatList:hover {
        cursor: pointer;
        background-color: #fff;
    }

#regionList > label > span {
    padding: 5px;
    border-radius: 5px;
}

#legendList > div {
    padding: 5px;
    margin: 3px;
}

.timeFrame {
    border: solid 1px #999;
    padding: 10px;
    background-color: #eee;
}

    .timeFrame > #divAct {
        display: inline-block;
    }

        .timeFrame > #divAct > #btnPlay {
            width: 50px;
            font-size: 36px;
            vertical-align: bottom;
        }

#divDate {
    display: inline-block;
    margin-left: 10px;
}

    #divDate > .year {
    }

    #divDate > .month {
        font-size: 28px;
    }

div.tooltip {
    position: absolute;
    padding: 10px;
    font: 14px sans-serif;
    border: solid 1px #ccc;
    background: #fff;
    border-radius: 2px;
    pointer-events: none;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.75);
}
