div.canvas {
    width: 1200px;
    height: 700px;
    overflow: scroll;
}

rect.stage {
    stroke-width: 0px;
    fill: #fff;
    stroke: #000000;
}

.stage-title {
    fill: #000;
    writing-mode: tb;
    font-size: 16;
}

rect.box {
    stroke: #000;
    fill: #fff;
    stroke-width: 1px;
    cursor: pointer;
}

rect.box:hover {
    fill: #ccc;
}

rect.frame {
    stroke: #000;
    fill: #fff;
    stroke-width: 1px;
}

rect.active {
    stroke: #000;
    fill: #3880ec;
    stroke-width: 1px;
}

text {
    pointer-events: none;
}